[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
django = "==4.0.0"
psycopg2-binary = "==2.9.3"
werkzeug = "*"
django-on-heroku = "*"
django-extensions = "==3.1.5"
whitenoise = "==6.0.0"
dj-database-url = "==0.5.0"
gunicorn = "==20.1.0"
django-cors-headers = "==3.11.0"
django-filter = "==21.1"
markdown = "==3.3.6"
djangorestframework-simplejwt = "==5.1.0"

[dev-packages]
black = "==22.3.0"
ptipython = "==1.0.1"
ipython = "==8.2.0"

[requires]
python_version = "3.10"
